
.form-group {
    margin-top: 1rem;
}
#newchannel {
    display: inline-block;
}

img {
    height: 20px;
    width: 20px;
}

.list-group-item {
    border-radius: 1.875rem !important;
    padding-left: 1rem;
    margin-bottom: 1.25rem !important;
}

.btn {
    vertical-align: top;
}

button:focus {
    outline: 0;
}

#chatbox {
    /* border-radius: 1.25rem 1.25rem 0rem 0rem; */
    /* margin: 0 auto; */
    margin-bottom: 0;
    /* margin-top: 2.5rem; */
    padding: 0.625rem;
    /* background:rgb(255, 255, 255); */
    height: 91.2vh;
    /* width: 85%; */
    /* border: 0.125rem solid rgb(66, 20, 173); */
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: 0px solid black;
}

#chatbox::-webkit-scrollbar { 
    display: none;
}

.sidepanel {
    height: 100vh;
    overflow: auto;
}

.msg {
    margin: 0.5rem 0rem; 
}

.msg-sent {
    color: white;
    background-color: rgb(117, 117, 117);
    display: inline-block;
    border-radius: 1.75rem;
    padding: 0.3125rem 1.1875rem;
    float: right;
    clear: both;
}

.msg-received {
    color: white;
    background-color: rgb(57, 54, 255);
    display: inline-block;
    border-radius: 1.75rem;
    padding: 0.3125rem 1.1875rem;
}

.msg-text {
    margin-top: 0;
    margin-bottom: 0;
}

.msg-right {
    display: flex;
    flex-direction: row-reverse;
}

.timestamp {
    font-family: monospace;
    color:#cccccc;
    font-size: 0.625rem;
}

.msg-sender {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9375rem;
    margin-bottom: 0;
}

.msg-sender-self {
    float: right;
    padding-top: 0.4375rem;
    padding-left: 0.5rem;
}

.msg-sender-other {
    float: left;
    padding-top: 0.375rem;
    padding-right: 0.5rem;
}

#send-group {
    /* margin: 0rem auto; */
    padding: 0;
    /* width: 85%; */
}

#send-input {
    color: white;
    border: 0px solid white;
    display: inline-block;
    border-left: 1px solid rgb(115, 114, 114);
    border-top: 1px solid rgb(115, 114, 114);
    border-bottom: 1px solid rgb(115, 114, 114);
    height: 5.9vh;
    width: 81%;
    border-radius: 5rem;
    margin: 10px;
    background-color: #636363 !important;
    margin-right: 0px;
    /* border-bottom: rgb(66, 20, 173) 0.125rem solid; */
    /* border-left: rgb(66, 20, 173) 0.125rem solid; */
}

#send-input:focus {
    box-shadow: none;
    border-left: 1px solid rgb(115, 114, 114);
    border-top: 1px solid rgb(115, 114, 114);
    border-bottom: 1px solid rgb(115, 114, 114);
}

#send-button {
    /* border-right: rgb(66, 20, 173) 0.125rem solid; */
    /* border-bottom: rgb(66, 20, 173) 0.125rem solid; */
    padding: 0px;
    border-radius: 0rem;
    height: 5.9vh;
    width: 16%;
    margin-top: 10px;
    border: 0px solid black;
}

#send-button:hover {
    border-left: 1px solid rgb(115, 114, 114);
    border-right: 1px solid rgb(115, 114, 114);
    border-top: 1px solid rgb(115, 114, 114);
    border-bottom: 1px solid rgb(115, 114, 114);
}

#send-button:active {
    border-left: 1px solid rgb(115, 114, 114);
    border-right: 1px solid rgb(115, 114, 114);
    border-top: 1px solid rgb(115, 114, 114);
    border-bottom: 1px solid rgb(115, 114, 114);
}

#send-button:focus {
    border-left: 1px solid rgb(115, 114, 114);
    border-right: 1px solid rgb(115, 114, 114);
    border-top: 1px solid rgb(115, 114, 114);
    border-bottom: 1px solid rgb(115, 114, 114);
}

#send-button:disabled {
      opacity: 1;
}

#send-image {
    height: 35px;
    width: 38px;
}

@media (min-width: 768px) {

    #chatbox {
        height: 93.2vh;
        border-left: 1px solid rgb(115, 114, 114);
        border-right: 1px solid rgb(115, 114, 114);
    }

    #send-input {
        border-radius: 0rem;
        width: 92%;
        height: 6.8vh;
        margin: 0;
    }

    #send-button {
        width: 8%;
        height: 6.8vh;
        margin: 0;
        border-left: 1px solid rgb(115, 114, 114);
        border-right: 1px solid rgb(115, 114, 114);
        border-top: 1px solid rgb(115, 114, 114);
        border-bottom: 1px solid rgb(115, 114, 114);
    }
}

@media (max-height: 600px) {
    #chatbox {
        height: 87vh;
    }

    #send-input {
        height: 8.5vh;
    }
}
